/* This container holds all the elements together */
.siteContainer {
    width: 100%;
  }
  
  .heroContainer {
    width: 100%;
    height:auto;
    position: relative;
  }
  
  .heroimg {
    width: 100%;
    height: auto;
    position: absolute;
  }

  .paulstxt {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;

  }
  .biglogo {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
  }

  .marquee {
    height: 30px;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background-color: white;
}

.marquee div {
    display: flex; 
    width: 200%;
    height: 40px;
    position: absolute;
    overflow: hidden;
    animation: marquee 9s linear infinite;
}

.marquee span {
    flex: 0 0 auto;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 7px;
    margin-right: 7px;
}
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }

  .quoteimg {
    width: 25px;
    height: 25px;
  }

  .doublepiccontainer {
    background-color: lightgray;
    height: auto;
    padding: 70px;
    text-align: center;
  }

  .pictures {
    flex-wrap: wrap;
    display: inline-block;
  }

  .picture1 {
    width: 40%;
    min-width: 250px;
  }

  .picture2 {
    width: 43%;
    min-width: 250px;
  }

  .ourstorycontainer {
    background-color: lightgray;
  }
  .ourstorycontainerwhite {
    background-color: white;
    padding: 8vw;
    border-radius: 80px 80px 0 0;
  }

  .ourstorycontainer span {
    display: block;
    margin-bottom: 40px;
    line-height: 45px;
    font-size: x-large;
  }

  .pimg {
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .pimg:hover {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out; /* Add smooth rotation animation */
}

.smalllogo {
    width: 90px;
}
.letter {
    width: 30%;
    margin-right: 20px;
}

.letterconatiner {
    display: flex;
}

.collagecontainer {
    background-image: url(/assets/projects/pauls/collageBackground.png);
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-position: center; 
    padding: 40px;
}

.collage {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.collageimg {
    padding: 10px;
    display: block;
    flex-basis: 100%;
    box-sizing: border-box;
    width: 30%;
}

@media only screen and (min-width: 640px) {
    .collageimg {
        flex-basis: 50%
    }
}

@media only screen and (min-width: 960px) {
    .collageimg {
        flex-basis: 33.333%
    }
}

@media only screen and (min-width: 1280px) {
    .collageimg {
        flex-basis: 25%
    }
}

.thanksContainer{
    background-color: white;
    padding-top: 100px;
    text-align: center;
}

.thanks {
    width: 30%;
    padding-bottom: 40px;
}

.audioButton {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
  }
  
  .audioButtonImg {
    width: 30%; 
    transition: transform 0.3s ease; /* Smooth flipping effect */
  }
  
  .audioButton:active .audioButtonImg {
    transform: scale(0.9); /* Add a click effect */
  }

  .buttonArea {
    display: inline-block;
  }

  .clickMeLabel {
    margin-top: 10px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-align: center;
    animation: flash 1s infinite; /* Flashing animation */
  }
  
  @keyframes flash {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
