.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.projectsTitle {
  text-align: center;
}
.projectsTitle p {
  font-family: FavoritMonoRegular;
}
.dividerLine {
  width: 100%;
  padding: 2rem;
}
.projectsContainerSmall {
  display: flex;
  gap: 2rem;
}

.projectCard {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: none ;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
}

.projectCard:hover{
  background-color: var(--color-yellow);
}
.smallProjectCard:hover{
  background-color: var(--color-yellow);
}

.smallProjectCard {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: none;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  border: 1px solid #000;
}

.projectContent {
  display: flex;
  flex-direction: column;
  flex: 3;
  min-width: 60%;
  max-width: 500px;
  padding-right: 50px;
}

.projectTitle {
  font-family: HeldaneDisplayRegular;
  color: black;
  font-size: 48px;
}

.projectTitleSmall {
  font-family: HeldaneDisplayRegular;
  color: black;
  font-size: 32px;
}

.projectSkills {
  color: var(--color-blue);
  font-size: 12px;
  font-family: FavoritMonoRegular;
}

.projectSoftwarePillContainer {
  padding-top: 12px;
}

.projectSoftwarePill {
  flex-shrink: 0;
  border-radius: 10px;
  background: black;
  vertical-align: middle;
  float: left;
  text-align: center;
  padding: 4px 9px 4px 9px;
  margin-right: 6px;
}

.projectSoftware {
  color: white;
  font-size: 12px;
  font-family: FavoritMonoRegular;
}

.projectTagline {
  padding-top:60px;
  color: black;
  font-size: 22px;
  font-family: FavoritBlack;
}

.projectDescription {
  padding-top: 0px;
  color: black;
  font-size: 20px;
  font-family: FavoritRegular;
}

.projectDescriptionSmall {
  padding-top: 30px;
  color: black;
  font-size: 18px;
  font-family: FavoritRegular;
}

.projectLinks {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: auto;
  padding-top: 30px;
}


.projectLinksSmall {
  display: flex;
  flex-direction: row;
  gap: 9px;
  margin-top: auto;
  padding-top: 20px;
}

.projectImgContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}


.projectImg {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.projectIcon {
  height: 42px;
}
