.heroBackground {
    background-image: url("../../../../assets/hero/heroBackground.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh;
    width: 100vw; 
    position: relative;
    overflow: hidden; 
  }

.heroCardStack {
    padding-top: 30px;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding-left: 300px;
    position: relative;
}

.heroCard1 {
    margin-top: 100px;
    height: 600px;
    position: absolute;
    z-index: 3;
}

.heroCard2 {
    left: 37%;
    height: 600px;
    position: absolute;
    z-index: 1;
}

.heroSticker {
    height: 140px;
    position: absolute;
    z-index: 2;
    margin-left: 320px;
    margin-top: 10px;

}

.heroMaddieCircle {
    height: 140px;
    position: absolute;
    z-index: 2;
    margin-left: 650px;
    margin-top: -20px;
    animation: rotate 5s linear infinite;
}

.index {
    transform: rotate(-8.83deg);
    z-index: 6;  
    position: absolute;
    padding-top: 300px;
    padding-left: 56px;
}

.index li {
    list-style-type: none;
}


.indexLinks {
    font-size: 20px;
    font-family: 'FavoritMonoRegular';
    font-weight: 400px;
    text-decoration: none;
    color: var(--color-slate-green); 
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .heroCardStack {
        .heroCardStack {
            padding-top: 30px;
            padding-right: 30px;
            margin-bottom: 40px;
            position: relative;
        }
        
        .heroCard1 {
            margin-top: 100px;
            height: 500px;
            position: absolute;
            z-index: 3;
            left: 10%
        }
        
        .heroCard2 {
            padding-left: 10px;
            height: 500px;
            position: absolute;
            z-index: 1;
        }
        .index {
            transform: rotate(-8.83deg);
            z-index: 6;  
            position: absolute;
            padding-top: 270px;
            left: 10%

        }

        .indexLinks {
            font-size: 15px;
            font-family: 'FavoritMonoRegular';
            font-weight: 400px;
            text-decoration: none;
            color: var(--color-slate-green); 
        }
        
        .heroSticker {
            height: 100px;
            position: absolute;
            z-index: 2;
            margin-left: 0%;
            margin-top: 10px;
        
        }
    }
   
}

@media screen and (min-width: 1800px) {
    .heroCard1 {
        margin-top: 100px;
        height: 900px;
        position: absolute;
        z-index: 3;
        left: 10%
    }
    
    .heroCard2 {
        padding-left: 10px;
        height: 900px;
        position: absolute;
        z-index: 1;
    }
    .index {
        transform: rotate(-8.83deg);
        z-index: 6;  
        position: absolute;
        padding-top: 270px;
        left: 10%

    }
    .indexLinks {
        font-size: 30px;
        font-family: 'FavoritMonoRegular';
        font-weight: 400px;
        text-decoration: none;
        color: var(--color-slate-green); 
    }

    .heroSticker {
        height: 200px;
        position: absolute;
        z-index: 2;
        margin-left: 20%;
        margin-top: 10px;
    
    }
}
