.contactBackground {
  width: 100vw;
  min-height: 60vh;
  background: var(--color-yellow);
  padding-bottom: 50px;
}

.contactTitle {
  text-align: center;
}
.contactTitle p {
  font-family: FavoritMonoRegular;
}
.dividerLine {
  width: 100%;
  padding: 2rem;
}

.contactContainer {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%; 
}

.contactLine {
  width: 100%;
}

.contactLinks {
  padding-top: 8px;
}

.contactLinks:hover .contactArrow {
  margin-right: 3%;
}

.contactText {
  font-family: FavoritMonoRegular;
  font-size: 15px;
  display:inline-block;
  margin-left: 20%;
  padding: 0px;
  color: black;
}
.contactThanks {
  font-family: FavoritMonoRegular;
  font-size: 15px;
  text-align: center;
  padding: 0px;
  padding-top: 8px;
}

.contactArrow {
  display:inline-block;
  float: inline-end;
  margin-right: 20%;
}

.boxContainer {
  padding-top: 3%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  min-width: 250px;
  min-height: 130px;
  padding: 13px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  float: inline-start;
}

.boxText {
  display:block;
  height: 60px;
}
.boxText span{
  font-family: FavoritMonoRegular;
  font-size: 15px;
  color: white;
}

.linkIcon {
  width: 40px;
  align-self: flex-end; /* pushes the icon to the right */
  margin-top: auto; /* ensures it sits at the bottom */
}

.arrowBox{
  display: inline-block;
  flex-grow: 1;
}
.arrow {
  position: relative;
  width: 69px; /* Match the largest SVG */
  height: 98px; /* Adjust based on actual size */
  display: flex;
  justify-content: center;
  align-items: center;
  float: inline-end;
}

.arrow svg:first-child {
  position: relative; /* Keeps the arrow in normal flow */
  z-index: 2; /* Ensures it's above the circle */
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.arrow svg:last-child {
  position: absolute;
  top: 0px; /* Adjust as needed */
  z-index: 1;
  animation: blink 1s infinite;
}