@font-face {
    font-family: FormulaCondensedBlack;
    src:url(Fonts/FormulaCondensedBlack.otf);
}
@font-face {
    font-family: FormulaCondensedLightItalic;
    src:url(Fonts/FormulaCondensedLightItalic.otf);
}
@font-face {
    font-family: HeldaneDisplayRegular;
    src:url(Fonts/HeldaneDisplayRegular.otf);
}
@font-face {
    font-family: FavoritRegular;
    src:url(Fonts/FavoritRegular.otf);
}
@font-face {
    font-family: FavoritBlack;
    src:url(Fonts/FavoritBlack.otf);
}
@font-face {
    font-family: FavoritMonoRegular;
    src:url(Fonts/FavoritMonoRegular.otf);
}

:root {
    /* Colors */
    --color-slate-green: #4E2A1A;
    --color-tan: #EEEDD5;
    --color-pink: #E9CDCD;
    --color-blue: #1B25E0;
    --color-red: #C1291E;
    --color-yellow: #ECD082;
    --color-green: #A0C560;
    --color-gray: #E8E8E8;
    --color-darker-gray: #D9D9D9;

    --font-formulaCondensedBlack: "FormulaCondensedBlack";
    --font-formulaCondensedLightItalic: "FormulaCondensedLightItalic";
    --font-heldaneDisplayRegular: "HeldaneDisplayRegular";
    --font-favoritRegular: "FavoritRegular";
    --font-favoritBlack: "FavoritBlack";
    --font-favoritMonoRegular: "FavoritMonoRegular";
}